[package]
name = "lilos"
version = "0.3.0-rc1"
authors = ["Cliff L. Biffle <code@cliffle.com>"]
edition = "2018"
license = "MPL-2.0"
description = "A tiny embedded OS based around Futures and async."
repository = "https://github.com/cbiffle/lilos/"
keywords = ["async", "embedded", "realtime", "os"]
categories = ["embedded"]
readme = "README.mkdn"

[package.metadata.docs.rs]
default-target = "thumbv7em-none-eabihf"

[features]
default = ["mutex", "spsc", "handoff"]
mutex = []
spsc = []
handoff = ["scopeguard"]

[dependencies]
cortex-m = "0.7.4"
cortex-m-rt = "0.7.1"
futures = { version = "0.3.19", default-features = false, features = ["async-await"] }
pin-utils = "0.1.0"
scopeguard = { version = "1.1.0", default-features = false, optional = true }

[lib]
test = false
bench = false

[profile.release]
codegen-units = 1 # better optimizations
debug = true # symbols are nice and they don't increase the size on Flash
lto = true # better optimizations
opt-level = "z"
